.container {
    display: flex;
}

.container div {
    margin: 1rem;
}

.headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 1.5rem;
}

.title {
    font-size: 2rem;
}