nav {
    border-bottom: 1px solid #828282;
}

nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navName {
    font-size: 1.25rem;
}

.links {
    display: flex;
    gap: 1rem;
}

.links a {
    color: white;
}