.section-1 {
    justify-content: center;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.subtitle-group {
    display: flex;
    align-items: center;
}

.subtitle-group p {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.section-subtitle {
    margin: 0;
    font-weight: bold;
}

.section-body {
    margin: 0;
    text-align: center;
}